body {
    background-color: lightgray;
}

.header-1 {
    text-align: center;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    padding: 30px;
}

.main-nav {
    text-align: center;
    background-color: darkgray;
}

.main-nav a {
    text-decoration: none; /* Remove link appearance */
    color: inherit; /* Remove blue color */
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-art1, .main-art2 {
  flex: 1; /* This will make the divs share the available space equally */
  align-items: center;
  padding: 100px; /* Add padding to flex items */
  justify-content: center; /* Center flex items horizontally */
  border-bottom: 4px solid gray
}

footer {
  padding-top: 30px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 3em;
}

.hamburger {
  font-size: 30px;
  float: right;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  background-color: #f0f0f0;
}

.menu a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}